<div class="new-game">
  <p>
    Enter your name
  </p>
  <p>
    <input type="text" [(ngModel)]="state.name" (keypress)="onKeyPress($event)" autofocus>
  </p>
  <p>
    <button class="btn btn-success" (click)="startGame()" [disabled]="!isResetDone || state.name.length == 0">Start game</button>
  </p>
  <p>
    <a routerLink="/highscore-list" class="btn btn-danger">Go back</a>
  </p>
</div>

