<div class="game">
  <p class="unsorted-word">
    {{ state.unsortedWord }}
  </p>
  <p>
    <input type="text" [(ngModel)]="state.enteredWord" (keydown)="onKeyDown($event)" (keyup)="onKeyUp()"
        #enteredWord class="entered-word" size="10" maxlength="10" autofocus>
  </p>
  <p class="current-reward">
    For {{ state.currentReward }} points
  </p>
  <p class="score">
    Score: {{ state.score }} points
  </p>
  <p class="time-left">
    Time left: {{ state.timeLeft }}
  </p>
  <p>
    <button class="btn btn-danger" (click)="quitGame()">Quit game</button>
  </p>
</div>

