<div class="home">
  <p>
    <button class="btn btn-success" (click)="newGame()">New game</button>
  </p>
  <table class="highscore-list">
    <caption>Highscore list</caption>
    <tr *ngFor="let score of highscores" class="highscore-list-item">
      <td>{{score.name}}</td>
      <td>{{score.score}}</td>
    </tr>
  </table>
</div>

