@font-face {
  font-family: PressStart;
  src: url(PressStart2P.woff2) format('woff2');
}

body,
.entered-word {
  text-align: center;
}

body {
  margin-top: 1em;
}

body,
.btn {
  font-size: 16px;
}

.highscore-list {
	font-family: PressStart, serif;
  margin: auto;
  min-width: 26rem;
  text-transform: uppercase;
}

.highscore-list caption {
  font-size: large;
  text-align: center;
}

.unsorted-word,
.entered-word {
  font-family: monospace;
  font-size: 32px;
  text-transform: uppercase;
}

